@use "../variables.scss";
@use "../mixins.scss";

.about__container {
  position: relative;
  max-width: 1263px;
  margin: 0 auto;
  padding-left: 279px;
  padding-bottom: 20px;

  @include vp-1023 {
    padding: 0 50px 0 225px;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}

.about__title {
  margin: 0 0 11px;

  @include mixins.section-title-desktop;
  color: variables.$color-black-pearl;

  @include vp-767 {
    @include mixins.section-title-mobile;
  }
}

.about__description {
  margin: 0;
  color: variables.$color-black-pearl;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about__description--more {
  display: none;
}

.about__description-active {
  display: inline;
}

.about__text-wrapper {
  margin-bottom: 39px;

  @include vp-1023 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    height: 203px;
    overflow: clip;

    &--active {
      height: auto;
    }
  }
}

.about__more {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid variables.$color-deep-sky-blue;
  border-radius: 3px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: variables.$color-deep-sky-blue;
  padding: 14px 50px;

  @include hover {
    color: variables.$color-alice-blue;
    background-color: variables.$color-deep-sky-blue;
  }

  @include focus {
    outline: 1px solid variables.$color-deep-sky-blue;
  }

  @include vp-767 {
    padding: 9px 40px 10px;
  }
}

.about__mask-container {
  position: absolute;
  top: 90px;
  left: -40px;
  background: url("../../img/background-year.jpg");
  background-position: left 8px top 16px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  display: flex;

  @include vp-1023 {
    left: -23px;
    top: 92px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__year {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 158px;
  line-height: 150px;
  color: black;
  background: #ffffff;
  mix-blend-mode: lighten;
}
