@use "../variables.scss";
@use "../mixins.scss";

.feedback {
  background-color: variables.$color-deep-sky-blue;
  position: relative;
  min-height: 840px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(320.5deg, transparent 65%, variables.$color-black-pearl-transparent 50%);
  }

  @include vp-1023 {
    min-height: 580px;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    min-height: 750px;
  }
}

.feedback__container {
  position: relative;
  z-index: 1;
  max-width: 1220px;
  margin: 0 auto;
  padding: 170px 0 100px;
  display: flex;
  align-items: center;
  gap: 115px;

  @include vp-1023 {
    padding: 50px;
    display: block;
  }

  @include vp-767 {
    padding: 50px 25px;
  }
}

.feedback__wrapper-text {
  padding-right: 9px;
  flex-grow: 1;

  @include vp-1023 {
    padding: 0;
  }
}

.feedback__slogan {
  margin: 0 0 15px;
  @include mixins.section-title-desktop;
  color: variables.$color-default-white;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 140.62%;
  }
}

.feedback__description {
  padding-left: 5px;
  margin: 0 0 35px;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: variables.$color-default-white;

  @include vp-1023 {
    padding: 0;
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 134.4%;
  }
}

.feedback__airplane {
  @include vp-1023 {
    display: none;
  }
}
