@use "../variables.scss";
@use "../mixins.scss";

.form {
  padding-left: 5px;

  @include vp-1023 {
    padding: 0;
  }

  &--modal {
    padding: 0;
  }
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;

  @include vp-767 {
    flex-direction: column;
    gap: 20px;
  }

  &--modal {
    flex-direction: column;
    gap: 20px;
  }
}

.form__input input {
  font-family: "PT Mono", "Arial", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: variables.$color-default-white;
  background-color: rgba(4, 20, 39, 0.15);
  padding: 14px 15px;
  border: none;
  border-radius: 3px;
  min-width: 275px;

  &::placeholder {
    color: variables.$color-default-white;
  }

  @include vp-1023 {
    min-width: 320px;
  }

  @include vp-767 {
    min-width: 0;
    width: 100%;
  }
}

.form__input--modal input {
  min-width: 0;
  width: 100%;
}

.form__question textarea {
  display: block;
  font-family: "PT Mono", "Arial", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: variables.$color-default-white;
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  padding: 25px 15px;
  width: 100%;
  min-height: 155px;
  margin-bottom: 35px;

  &::placeholder {
    color: variables.$color-default-white;
  }

  @include vp-767 {
    margin-bottom: 30px;
    min-height: 180px;
  }
}

.form__question--modal textarea {
  margin-bottom: 25px;
}

.form__wrapper-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include vp-1023 {
    justify-content: flex-start;
    gap: 85px;
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 25px;
  }

  &--modal {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.form__submit {
  cursor: pointer;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  background-color: #041427;
  color: variables.$color-default-white;
  padding: 14.5px 25px;
  min-width: 265px;
  flex-shrink: 0;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid variables.$color-deep-sky-blue;
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-767 {
    min-width: 0;
    width: 100%;
  }

  &--modal {
    min-width: 0;
    width: 100%;
  }
}

.form__checkbox label {
  position: relative;
  cursor: pointer;
  font-family: "PT Mono", "Arial", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: variables.$color-default-white;
  opacity: 0.8;
  display: block;
  max-width: 265px;
  padding-left: 26px;

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid variables.$color-deep-sky-blue;
  }

  @include active {
    opacity: 0.3;
  }
}

.form__checkbox--modal label {
  max-width: none;
}

.form__checkbox span {
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  outline: 1px solid variables.$color-default-white;
  border-radius: 2px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.988525 2.33431L3.7778 5.00098L7.96171 1.00098' stroke='white'/%3E%3C/svg%3E%0A");
    width: 9px;
    height: 6px;
    background-repeat: no-repeat;
    left: 3px;
    top: 3px;
    opacity: 0;
    transition: opacity ease-in 0.2s;
  }
}

.form__checkbox--modal span {
  top: 0;
}


.form__checkbox input[type="checkbox"]:checked + span::after {
  opacity: 1;
}
