@import "../variables.scss";
@import "../mixins.scss";

.header {
  background-image: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 27px 52px 35px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1023 {
    padding: 20px 70px 25px 50px;
    width: auto;
  }

  @include vp-767 {
    padding: 10px 35px 20px 26px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30.5px;
  align-self: center;

  @include vp-1023 {
    gap: 20px;
    align-self: flex-start;
  }
}

.header__wrapper-link {
  min-width: 225px;

  @include footer-link-desktop;
  line-height: 18px;
  color: $color-alice-blue;
  display: flex;
  align-items: center;
  gap: 15px;

  @include vp-1023 {
    min-width: auto;
    padding: 10px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  @include active {
    opacity: 0.3;
  }
}

.header__wrapper-link-text {
  @include vp-1023 {
    display: none;
  }
}

.header__button-modal {
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  color: $color-alice-blue;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 15px;

  @include vp-1023 {
    display: none;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  @include active {
    opacity: 0.3;
  }
}

.header__logo {
  flex-shrink: 0;

  @include vp-767 {
    align-self: flex-end;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
  }

  @include active {
    opacity: 0.3;
  }
}


.header__logo-image {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}
