@import "../variables.scss";
@import "../mixins.scss";

.services {
  background-color: $color-black-pearl;
}

.services__container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 64px 18px 140px 35px;

  @include vp-1023 {
    padding: 53px 50px 75px;
  }

  @include vp-767 {
    padding: 48px 25px 86px;
  }
}

.services__slogan {
  margin: 0 0 54px;
  color: $color-alice-blue;

  @include section-title-desktop;

  @include vp-1023 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    @include section-title-mobile;
    margin-bottom: 29px;
  }
}

.services__slogan--desktop {
  @include vp-767 {
    display: none;
  }
}

.services__slogan--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-self: start;
  }
}

.services__item {
  max-width: 350px;
  flex-grow: 1;

  @include vp-1023 {
    max-width: none;
  }
}

.services__link {
  position: relative;
  display: block;
  padding: 47px 40px 60px;
  min-height: 650px;
  background-color: $color-deep-sky-blue;

  @include vp-1023 {
    min-height: 250px;
    padding: 40px 45px 60px;
  }

  @include vp-767 {
    padding: 26px 30px 40px;
  }

  @include hover {
    opacity: 0.5;
  }

  @include focus {
    outline: 1px solid $color-deep-sky-blue;
  }
}

.services__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(4, 24, 39, 0.5);
}

.services__link-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  z-index: 0;

  @include vp-1023 {
    width: 100%;
  }
}

.services__link p {
  position: relative;
  z-index: 1;
  margin: 0;

  @include services-description-desktop;

  @include vp-767 {
    @include services-description-mobile;
  }
}

.services__button {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}
